name: Java CI with Maven
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  mavenbuild:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Build with Maven
      run: |
        cd backend
        mvn -B package --file pom.xml
        sudo cp -r /home/fs-swapnil/actions-runner/_work/curd/curd/backend/target/fullstack-0.0.1-SNAPSHOT.war /opt/tomcat/webapps

  backenddeploy:
     needs: mavenbuild
     runs-on: self-hosted

     steps:
     - name: war file
       run: sudo cp -r /home/fs-swapnil/actions-runner/_work/curd/curd/backend/target/fullstack-0.0.1-SNAPSHOT.war /opt/tomcat/webapps
      
  reactBuild:
      runs-on: self-hosted
      steps:
        - uses: actions/checkout@v3
        - name: Use Node.js
          uses: actions/setup-node@v3
          with:
            node-version: 18
    
        - name: npm install, build, and test
          run: |
            cd frontend/react-frontend
            npm install
             CI='' npm run build
            #npm run build
  frontenddeploy:
     needs: reactBuild
     runs-on: self-hosted

     steps:
       - name: deploying build folder
         run:  sudo cp -r /home/fs-swapnil/actions-runner/_work/curd/curd/frontend/react-frontend/build /var/www/html
    
    # - name: Upload artifacts
     #  uses: actions/upload-artifact@v2
      # with:
       # name: build-output
        #path: path/to/your/build/output  # Change to the path where your build artifacts are
    # - name: Deploy or other actions
      # You can add additional steps here, like deploying to a server or publishing to npm
     
